body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/418256205_122095771154194114_6927046451882511998_n.png);
    background-size: 100% 100%;
}

.calculator{
    width: 25%;
    border-radius: 15px;
    border: 2px solid orange;
    height: 65vh;
    display: grid;
    gap: 15px;
    grid-template-rows: auto;
    background:transparent;
    box-shadow:5px 10px 10px 10px orange;
}

.calculator legend{
    font-size: 25px;
    font-weight: bolder;
    color: orange;
}

.keys{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 10px;
    margin-top: 5px;
    height: 44vh;
}

.keys button{
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.737);
    color: white;
    border: none;
    opacity: 2;
    font-size: 25px;
    font-weight: bolder;
}

.keys button:hover{
    background-color: rgba(52, 44, 44, 0.737);
    
}

.keys .op{
    background-color: rgba(255, 166, 0, 0.737);
}
.keys .op:hover{
    background-color: rgba(214, 142, 8, 0.737);
}

.keys .wel{
    background: linear-gradient(to right, #0C09CC, #2D2B8B, #06054C);
    opacity: .7;
    font-size: 15px;
}

#display{
    border: none;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: #0808149c;
    color: white;
    
}
